.box-container {
  margin: 10px;
  display: inline-block;
}

.delete-button {
  display: inline;
  margin-top: 3px;
  background-color: rgb(255, 91, 91);
  padding: 5px;
  border: 1px solid darkslategray;
}